RewriteEngine on

#verify user
RewriteRule ^auth/verify-email/([0-9a-zA-Z]+)$ auth/verify-email.php?vericode=$1 [NC,L]

#verify reseted-password
RewriteRule ^auth/send/([0-9a-zA-Z]+)$ auth/send.php?reseted-password=$1 [NC,L]

#view user details
RewriteRule ^admin/Users/view([0-9a-zA-Z]+)$ admin/Users/view.php?view=$1 [NC,L]

# Verify user email
RewriteRule ^auth/verified/([0-9a-zA-Z]+)$ auth/verified.php?vericode=$1 [NC,L]





#pay scholarship fee
RewriteRule ^auth/pay-scholarship-fee/([0-9a-zA-Z-]+)$ auth/pay-scholarship-fee.php?scholarship=$1 [NC,L]
#authenticate scholarship status
RewriteRule ^auth/auth-scholarship-status/([0-9a-zA-Z-]+)$ auth/auth-scholarship-status.php?scholarship=$1 [NC,L]
#scholarship-status
#RewriteRule ^scholarship-status/([0-9a-zA-Z-]+)$ scholarship-status.php?scholarship=$1 [NC,L]
# export scholarship data
RewriteRule ^admin/Scholarship/export/([0-9a-zA-Z_-]+)/([0-9a-zA-Z_-]+)$ admin/Scholarship/export.php?data=$1&type=$2 [NC,L]
#view scholarship details
RewriteRule ^admin/Scholarship/view/([0-9a-zA-Z-]+)$ admin/Scholarship/view.php?sid=$1 [NC,L]

#view scholarship details
RewriteRule ^admin/SW/view/([0-9a-zA-Z-]+)$ admin/SW/view.php?swid=$1 [NC,L]
# export scholarship data
RewriteRule ^admin/SW/export/([0-9a-zA-Z_-]+)/([0-9a-zA-Z_-]+)$ admin/SW/export.php?data=$1&type=$2 [NC,L]



#view user details
RewriteRule ^admin/User/view/([0-9a-zA-Z-]+)$ admin/User/view.php?uid=$1 [NC,L]
# export user data
RewriteRule ^admin/User/export/([0-9a-zA-Z_-]+)/([0-9a-zA-Z_-]+)$ admin/User/export.php?data=$1&type=$2 [NC,L]

RewriteRule ^.in/blog/([0-9a-zA-Z_-]+)/([0-9a-zA-Z_-]+)/([0-9]+)$ .in/blog.php?type=$1&status=$2&id=$3 [NC,L]
RewriteRule ^.in/blog/([0-9a-zA-Z_-]+)/([0-9a-zA-Z_-]+)/([0-9]+)/([0-9]+)$ .in/blog.php?type=$1&status=$2&id=$3&featured=$4 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.php -f

RewriteRule ^(.*)$ $1.php

RewriteCond $1 !^(media|helpers|account|auth|admin|fonts|assets|dist|controller|connection|robots\.txt)

RewriteRule ^([^\.]+)$ $1.php [NC,L]

#ErrorDocument 404 https://sites.local/thylies_site/404